{% extends 'base.html.twig' %}

{% block title %}XML Tests{% endblock %}
{% block stylesheets %}
    <style>
        .content-tab, #originalXML{
            max-height: 300px;
            overflow-y: auto;
        }

        sup{
            color: red;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                XML Library Test
            </h1>
            <div>
                <p> Click in the buttons below to load the var dump for each XML:</p>
            </div>
            <div class="columns">
                {% for item in testXMLs %}
                    <div class="column">
                        <a class="xml-test button is-link is-flex">{{ item }}</a>
                    </div>
                {% endfor %}                
            </div>
            <section class="hero">  
                <div class="hero-foot">
                <nav class="tabs is-boxed is-fullwidth">
                        <div class="container">
                        <ul>
                            {% for lib in XMLLibs %}
                                <li class="tab {{ (lib == 'DOM') ? 'is-active' : '' }}" data-tab="{{lib}}">
                                    <a>
                                        {{lib}}
                                        {% if lib == 'SabreXML' %}
                                            <sup>*</sup>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %} 
                        </ul>
                        </div>
                    </nav>
                </div>
            </section>

            <div class="container section">
                {% for lib in XMLLibs %}
                    <div id="{{lib}}" class="content-tab {{ (lib != 'DOM') ? 'is-hidden' : 'is-visible' }}" >
                        <div class="xml-dump">
                            Click in one XML Format to loaded the {{lib}} object
                        </div>
                    </div>  
                {% endfor %}
            </div>
            <div class="container section">
                <p> <sup>*</sup> Author's choise </p>
            </div>            
            <div class="container">
                <p>Original XML</p>
                <pre id="originalXML">

                </pre>
            </div>
        </div>        
    </section>
{% endblock %}
{% block javascripts %}
    <script src="assets/js/xml.js"></script>
{% endblock %}